/* load fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Ceviche+One|Montserrat:500,500i,800,800i&display=swap&subset=latin-ext');

/* typography */
.App, .sans-serif {
  font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
  font-weight: 500;
}
.App strong, .sans-serif strong {
  font-weight: 800;
}
h1, h2, h3, h4, .display-type {
  font-family: 'Ceviche One', cursive;
  font-weight: 400;
}

.App {
  font-size: 1.25rem;
}
h1 {
  font-size: 5rem;
  margin: 1.25rem 0;
}
h2 {
  font-size: 3.75rem;
  margin: 1.25rem 0;
}
h3 {
  font-size: 2.5rem;
  margin: 1.25rem 0;
}
h4 {
  font-size: 2rem;
  margin: 1.25rem 0;
}